@model IEnumerable<CL1_POO2_T4KB_Penadillo_Angelo.Models.usp_ventas_vendedor_año>

@{
    ViewBag.Title = "Ventas_Vendedor_Anio";
}

<h2>Ventas de Vendedor por Año</h2>

@using (Html.BeginForm())
{
    <p>
        Código de Vendedor: <input type="text"
                                   name="cod_ven"
                                   value="@ViewBag.COD_VEN" />
        <br />
        Año de ventas: <input type="text"
                              name="year"
                              value="@ViewBag.YEAR" />
        <br />
        <input type="submit"
               value="Consultar"
               class="btn btn-success" />
    </p>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.num_vta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fec_vta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tot_vta)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.num_vta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fec_vta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_cli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tot_vta)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

<div>
    <p>
        Número de registros:  <input type="text"
                                        name="cantidad"
                                        value="@ViewBag.CANTIDAD" 
                                        readonly/>
    </p>
</div>

